:root {
    --ion-color-main: #0000a5;
    --ion-color-main-rgb: 0,0,65;
    --ion-color-main-contrast: #ffffff;
    --ion-color-main-contrast-rgb: 255,255,255;
    --ion-color-main-shade: #3434bd;
    --ion-color-main-tint: #000085;
}

.ion-color-main {
    --ion-color-base: var(--ion-color-main);
    --ion-color-base-rgb: var(--ion-color-main-rgb);
    --ion-color-contrast: var(--ion-color-main-contrast);
    --ion-color-contrast-rgb: var(--ion-color-main-contrast-rgb);
    --ion-color-shade: var(--ion-color-main-shade);
    --ion-color-tint: var(--ion-color-main-tint);
  }

*{
    font-family: 'Poppins', sans-serif;  
}

body
{
    /*background-color: #E8EBF5;*/
    margin: 0%;
    padding: 0%;
}

.bold-txt{
    font-weight: bold;
}

.logo
{
    margin-left:80vh;
    width: auto;
}

.form
{
    background-color: white;
    width: 60vh;
    height: 35vh;
    margin-left: 65vh;
    border-radius: 5vh;
}

.box {
    border-color: #0000A5;
    border-width: 3px;
    border-style: solid;
    border-radius: 11px;
    margin-bottom: 30px;
    height: 50px;
    background-color: #0000A5;
}

.box2 {
    background-color: #0000A5;
    border-radius: 15px;
}

.box3 {
    background-color: #0000A5;
    border-radius: 15px;
}

.boxf {
    font-weight: bold;
}

.box20 {
    font-size: 20px;
}

.boxfun{
   
    border-radius: 100%;
    background-color: white;
    font-size: 22px;
    padding: 5px;
    font-weight: bold;
}

.boxcolor{
    background-color: #E8EBF5;;
}

.boxfnb {
   
    background-color: white;
    color: #0000A5;
    border-radius: 36px;
    padding: 7px 35px;
    font-size:  15.5px;

}

.boxinimg{
    width: 10%;
    border-radius: 100%;
}

.boxin{
    font-size: 35px;
    font-weight: bolder;
    padding-bottom: 0;
    display: inline-block;
}

.boxtoi {
    background: rgb(0,0,165);
    background: linear-gradient(180deg, rgb(8 8 199) 0%, #121233 100%); color: white;
    border-radius: 36px;
    padding: 7px 35px;
    font-size:  16px;  
}

.boxsearch{
    background: #0000a5;
    color: white;
    padding: 10px 31px;
    border-radius: 21px;
    font-size: 20px;
    margin: 25px 20px 0;
}

.boxtit{
    margin-left: 16px;
}
.boxh{
    height: 10px;
    border-radius: 15px;
}

.boxlist{
    border-radius: 0 0 15px 15px;
}

.box1 {
    border-color: #0000A5;
    border-width: 3px;
    border-style: solid;
    border-radius: 11px;
    height: 50px
}

.logo-img{
    width: auto;
}

.main {
    background-color: #E8EBF5;
}

.boxcw{
    background-color: white;
    margin: 10px 10px 20px;
    padding: 10px 20px;
    border-radius: 15px;
}

.boxic{
        font-size: 2.5rem;
    color: white;
    background: #0000a5;
    border-radius: 100%;
    padding: 10px;
    
}

.boxis{
 margin-right: 10%;   
}

.boxtop{
    color: #0000a5;
    font-size: 18px;
    font-weight: bold;
}

.boxgrey{
    color: grey;
    font-weight: bold;
}

.box11{
    font-size: 11px;
}

.card-w-btn{
    width: 90%;
    height: 10%;
    margin-left: 5%;
    font-size: 20px;
}

/*Stats page css*/
#doughChart {
    margin: 5% 0% 55% 0;
    
}